@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,400,900i');
@import 'Access.css';

body , .container-fluid{
  padding: 0;
  margin: 0;
}

hr{
  background: white;
  padding: 0;
  border: 0;
}
.container-fluid {
  min-height: 100vh;
  height: 100%;
  width: 100%;
}
header {
min-height: 100vh;
background: #000428; /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #000428, #004e92); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #000428, #004e92); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
#navbar div a {
  color: white;
  padding: 5px 10px ;
  margin: auto 5px;
}
.mobileMenu{
  position: absolute;
  z-index: 10000;
  top:0;
  right: 0;
  background: whitesmoke;

}
 button.navbutton{
  padding: 10px 30px;
  right: 20px;
  width: auto;
}
div a.button {
  padding: 5px 10px;
  border: 1px solid white;
  transition: all .5s ease-out;
}

div a.yButton{
  border: 1px solid #FFEB3B;
  background: #FFEB3B;
  transition: all .2s ease-out;

}

div a.yButton:hover{
  transform: scale(1.1);
  box-shadow: 0 1px 10px #fff;
  transition: all .2s ease-in;
}

.hoverable:hover{
  cursor: pointer;
}

.icon {
  height: 60px;
  width: auto;
}


.App-logo{
  margin: 50px 0;
  height: 100%;
  left:20px;
}

.f15{
  font-size: 15px;
}

.f25 {
  font-size: 25px;
}

.f30 {
  font-size: 30px;
}

.f33{
  font-size: 33px;
}
.white{
  color: white;
}
.yellow{
  color:#FFEB3B;
}
.lightblue{
  color: #63a4ff;
}
.blue {
  color: #004e92;
}
.darkblue{
  color: #004ba0;
}
.black{
  color: black;
}
.mont {
  font-family: 'Montserrat', sans-serif;
}
.normal{
  font-weight: normal;
}
.light{
  font-weight: lighter;
}
.bold{
  font-weight: bolder;
}

.tab {
  background: white;
  padding: 5px;
  margin: 5px;
  color:black;
  cursor: pointer;
}

.intTab{
  margin: 20px auto;
}

.team{
  margin:100px 0;
  padding: 5px;
  color: white;
}

.member{
  background:#004e92; /* fallback for old browsers */
  box-shadow: -2px 0px 10px #000428;
  margin: 10px auto;
}
.member .name{
  color: ghostwhite;
  font-size: 18px;
  font-weight: bold;
}

.member .role {
  color: ghostwhite;
  opacity: 0.9;
  font-size: 10px;
  font-weight: lighter;
}
.details {
  margin: 20px;
}
 .details .row{
  background: #FFEB3B;
  padding: 0;
  margin: 0;
  font-weight: bold;
}

.details .row h3{
  color: blue;
  text-align: center;
  padding: 15px 1px ;
}

.homepage h1{
  font-size: 40px;
  margin: 50px auto;
}
.homepage h2{
  letter-spacing: 1.5px;
  font-size: 14px;
  opacity: .85;
}
.homepage h3 {
  font-size: 12px;
}

.homepage p , .homepage h4{
  font-size: 20px;
  letter-spacing: 1.5px;
  padding: 0px;
}
.homepage p{
  margin: 5px auto 70px;
}
.homepage h4{
  margin: 70px auto 5px;

}

 form label input ,  .form button{
  border: none;
  color: #004e92;
  margin: 10px 0;
  padding: 10px;
  font-size: 11px;
}
.form button{
  font-size: 14px !important;
  text-transform: uppercase;
  background: #004e92;
  color: white;
  margin: 0;
}

form ,  .form{
  background: #000428;

}

.form{
  height: 370px;
  position: fixed;
  z-index: 100;
  right: 0;
  transition: all .5s ease-in;
}
.form .openContact{
  border: 1px solid ghostwhite;
}

.form .Select {
  border-radius: none;
  color: blue;
  font-size: 12px !important;

}
.form .Select option{
  border: none;
  padding: 5px;
  color: black;
  font-size: 12px !important;
}


/*  ABOUT  */
section.about{
  background: whitesmoke;
}
section .paper {
  margin: 20px auto;
  /* background: white;
  box-shadow: -2px -2px 3px lightgrey; */
}

section .row#about {
  margin: 100px 0 ;
}
section .row#about hr {
  background: #004e92;
  border: 1px solid #004e92;
  margin: 0 0 20px;
}


section .paragraph {
  font-size: 10px;
  margin-top: 10px;
  color: #004e92;
  filter: brightness(1.2);
}

section button {
  background: #004e92;
  border: 1px solid white;
  color: white;
  cursor: pointer;
}

div.proportioned {
  min-height: 500px;
  height: 100%;
}

div.background {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  /* Media queries margin bottom needed */
}

/* INVITATION */

section.invitation {
  background: #000428; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #000428, #004e92); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #000428, #004e92); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

section.invitation .numbers{
  padding: 0;
  margin: 100px auto;
}

button.join {

  background: #FFEB3B;
  width: 120px;
  border: 1px solid #FFEB3B;
  cursor: pointer;
  transition: all .2s ease-out;
}

button.join:hover{
  transform: scale(1.2);
  transition: all .2s ease-in;
}

/* LOGIN */

#access {
  background: #000428; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #000428, #004e92); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #000428, #004e92); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
  overflow: hidden;
}

#access a {
  padding: 10px;
  color: #000428;
  background: ghostwhite;
  margin-top: 60px;
}

#access button {
  background: #004e92;
  border: 1px solid white;
  color: white;
  padding: 10px;
  cursor: pointer;
}
